
@{
    ViewBag.Titulo = "TesteJs";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">TesteJs</a></li>
    </ol>

}
<h2>TesteJs</h2>

@section Js{
    
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    
}