@model List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" action="/ToDoList/index">
            <label>Atividade: </label>
            <input type="text" name="atividade"/>
            <button>Salvar</button>
        </form>
        <ul>
            @{
                var cor = 0;
            }
            @foreach (string item in Model)
            {
                if (cor == 0)
                {
                    <li style="color:blue;">@item</li>
                    cor = 1;
                }
                else
                {
                    <li style="color:red;">@item</li>
                    cor = 0;
                }
            }
        </ul>
    </div>
</body>
</html>
